boto3
# IMPORTANT: keep this in sync with the dependencies section in the Config file
sagemaker>=1.18.0
# sagmaker local mode
PyYaml

scipy

holidays>=0.9,<0.10
matplotlib
numpy
pandas
pydantic~=1.1
tqdm
ujson

flask~=1.1
gunicorn~=19.9
torch
ray[tune]
sklearn