pytest
pytest-cov~=4.1.0
pytest-timeout
# 22.1.0 fails with sphinx:
# https://github.com/psf/black/issues/2964
black==22.3.0
flake8
sphinx<8.0.0
nbsphinx
ipykernel
pypandoc_binary
sphinx-rtd-theme
sphinx-autodoc-typehints
traitlets<=5.14.2
myst-parser
sphinx_copybutton
sphinxcontrib-bibtex
sphinxcontrib.jquery
wheel
