name: Run Syne Tune

permissions:
  id-token: write # This is required for requesting the JWT
  contents: read  # This is required for actions/checkout

on:
  workflow_call:
    inputs:
      script-path:
        required: true
        type: string
      requires-aws-credentials:
        required: false
        type: boolean
      additional-command:
        required: false
        type: string
      timeout-minutes:
        required: false
        type: number
      extras-require:
        required: false
        type: string
      download-artifact-path:
        required: false
        type: string
      download-artifact-name:
        required: false
        type: string
    secrets:
      PROD_AWS_INTEG_TEST_ROLE_ARN:
        required: false

env:
  AWS_DEFAULT_REGION: us-west-2
  SCRIPT_PATH: ${{ inputs.script-path }}
  AWS_ROLE: ${{ secrets.PROD_AWS_INTEG_TEST_ROLE_ARN }}

jobs:
  run:
    runs-on: syne-tune_ubuntu-latest_16-core
    timeout-minutes: ${{ inputs.timeout-minutes }}
    steps:
      - name: Configure AWS Credentials (if required)
        if: ${{ inputs.requires-aws-credentials == true }}
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.PROD_AWS_INTEG_TEST_ROLE_ARN }}
          role-session-name: integtestsession
          aws-region: ${{ env.AWS_DEFAULT_REGION }}
      - uses: actions/checkout@v4
      - name: Set up Python 3.8
        uses: actions/setup-python@v5
        with:
          python-version: 3.8
          cache: 'pip'
      - name: Pip install basics
        run: |
          python -m pip install wheel
          python -m pip install --upgrade pip
      - name: Install Syne Tune with core dependencies only
        if: ${{ inputs.extras-require == '' }}
        run: python -m pip install -e '.'
      - name: Install Syne Tune with selected dependencies
        if: ${{ inputs.extras-require != '' }}
        run: python -m pip install -e '.[${{ inputs.extras-require }}]'
      - name: Download artifact (must have been previously uploaded via actions/upload-artifact)
        if: ${{ inputs.download-artifact-path != '' }}
        uses: actions/download-artifact@c850b930e6ba138125429b7e5c93fc707a7f8427 # v4.1.4
        with:
          name: ${{ inputs.download-artifact-name }}
          path: ${{ inputs.download-artifact-path }}
      - name: Run optional custom command
        if: ${{ inputs.additional-command != '' }}
        run: ${{ inputs.additional-command }}
      - name: Run Syne Tune Script
        run: |
          python ${{ inputs.script-path }}
